.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.error {
  color: #FF0000;
}

label,
Field {
  display: block;
  margin: 1rem;
}

button {
  margin: 1rem ;
}

.select {
  min-width: 15rem;
  height: 2rem;
  margin-left: 1rem;
  border-radius: .5rem ;
}

.label{
  margin: 1rem 1rem 1rem 0 ;
  font-weight: bold;
}

.textarea {
  height: 2rem;
  margin-left: 1.7rem;
}

.button {
  background: #4bcf4f;
  color:white;
}

.active {
  background: #0f548d;
  font-size: 1.5rem;
  margin-right: 2rem;
  padding-right: .5rem;
  padding-left: .5rem;
  color: aquamarine;
}

.admin {
  background: #0f548d;
  font-size: 1.5rem;
  margin-left: 2rem;
  padding-right: .5rem;
  padding-left: .5rem;
  color: lightgray;
}

.task {
  border: 1px solid black;
  padding: 10px;
  margin-left: 0;
  margin-top: 10px;
  margin-bottom:10px;
  min-width: 200px;
}

.formik .saveButton {
  background: #4bcf4f;
  color: #fff;
}